h1 {
  text-align: center;
}
.container {
  width:800px;
  min-width: 200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: orange;
}

.grid {
background-color: orange;
color: orange;
display: inline-block;
width: 33%;
height: 33%;
min-height: 200px;
border: 0.5px solid black

}


.button {
  width: 100px;
  height: 25px;
}

.X {
  background-color: blue;
}

.O {
  background-color: green;
}
