.container{
  width: 700px;
  margin: 0 auto;
}

.row {
  width: 200px;
}

#\30, #\31, #\32, #\33, #\34, #\35, #\36, #\37, #\38 {
  margin: 0 auto;
  border-style: solid;
  width: 50px;
  height: 50px;
  /*display: inline-block;*/
  float: left;
}

p {
  text-align: center;
}

/*div{
  display: inline-block;
}*/

/*.row1{
  display: inline-block;
  float: left;
}*/
