body {
    height: 100vh;
}

.ball {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 9999px;
  position: relative;
  top: 0;
  left: 0;
  transition: top 0.4s, left 0.4s ease-in 0.4s;
  /* transition: <prop> <duration> <easing fn> <delay> */
}
