.ball {
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 9999px;
  position: relative;
  top: 0;
  left: 0;
  transition: top 0.5s, left 0.5s;
  /*transition: <prop> <duration> <easing fn> <delay>*/
}


body {
  height: 100vh;
}
