
.container {
  width: 300px;
  margin: 0 auto;
}

.wrapper {
  /* border: 1px solid blue; */
  width: 156px;
  display: flex;
  flex-flow: row wrap;
}

.box {
  border: 1px solid red;
  width: 50px;
  height: 50px;
}

.player1 {
  background-color: yellow;
}

.player2 {
  background-color: blue;
}
