body {
  background: white;
  -ms-transition: background 0.8s ease 0s;
  -moz-transition: background 0.8s ease 0s;
  -o-transition: background 0.8s ease 0s;
  -webkit-transition: background 0.8s ease 0s;
  transition: background 0.8s ease 0s;
}

/*.clicked {
  background:rgbColor;
}*/

.container {
  width: 300px;
  margin: 0 auto;
}

.wrapper {
  /* border: 1px solid blue; */
  width: 156px;
  display: flex;
  flex-flow: row wrap;
}

.box {
  border: 1px solid red;
  width: 50px;
  height: 50px;
}
