.container {
  margin: 0 auto;
  width: 1400px;
  /*border:1px solid black;*/
}

h1 {
  text-align: center;
  margin: 50px 0px;
  font-size: 40px;
}

h2 {
  text-align: center;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
  /*border: 1px solid black;*/
}

.box {
  display:inline-block;
  width:200px;
  height:200px;
  border:3px solid black;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  font-size: 40px;
  margin: 5px;
}
