body {
  background-color: white;
  align: center;
}

.container {
  width: 300px;
  margin: 0 auto;
}

.wrapper {
  /* border: 1px solid blue; */
  width: 156px;
  display: flex;
  flex-flow: row wrap;
}

.box {
  border: 1px solid red;
  width: 50px;
  height: 50px;
  background-color:white;
}
